.box{
    width: 100px;
    height: 100px;
    background-color: red;
animation-name: box-move;
animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes box-move {
0%{
background-color: red;
}

    25%{
        transform: translateY(200px);
background-color: blue;
    }

    50%{
        transform: translateX(200px) translateY(200px);
        background-color: green;
    }

    75%{
        transform: translateY(0px) translateX(200px);
        background-color: yellow;
    }
    100%{
        transform: scaleX(-200px);
        background-color: red;
    }
}